{% extends 'base.html' %}
{% load static %}


{% block congratulation %}
<!-- Congratulations area starts -->
<div class="congratulation-area text-center mt-5">
    <div class="container">
        <div class="congratulation-wrapper">
            <div class="congratulation-contents center-text">
                <div class="congratulation-contents-icon">
                    <i class="fas fa-check"></i>
                </div>
                <h4 class="congratulation-contents-title"> Congratulations! </h4>
                <p class="congratulation-contents-para"> Your order is sucessfuly placed. </p>
                <div class="btn-wrapper mt-4">
                    <a href="logged/{{uname}}" class="cmn-btn btn-bg-1"> Go to Home </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Congratulations area end -->
{% endblock congratulation %}